@import "../../assets/sass/main.scss";

.ourstory {
  h5 {
    @include breakpoint(xs) {
      font-size: $f26;
    }

    @include breakpoint(sm) {
      font-size: $f26;
    }

    @include breakpoint(md) {
      font-size: $f26;
    }
  }
}

.processWrapper {
  .process-img {
    height: 100%;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      @include breakpoint(xs) {
        display: none;
      }

      @include breakpoint(sm) {
        display: none;
      }
    }
  }

  .right-panel {
    padding-left: 20px;
    @include breakpoint(sm) {
      padding-left: 0;
    }
    .panel {
      padding: $pt-3 $pt-2 $pt-2 $pt-2;
      box-shadow: 0px 4px 0px #FFE1E2;
      margin-bottom: $mt-2;

      h6 {
        @include breakpoint(xs) {
          font-size: $f25;
        }

        @include breakpoint(sm) {
          font-size: $f25;
        }

        @include breakpoint(md) {
          font-size: $f25;
        }
      }

      p {
        font-size: $f14;
        margin-bottom: 0;
        margin-top: $mt-1;
      }

      .img-fluid {
        display: none;

        @include breakpoint(xs) {
          display: block;
          margin-top: $mt-2;
        }

        @include breakpoint(sm) {
          display: block;
          margin-top: $mt-2;
        }
      }
    }

    .panel:after {
      content: "";
      width: 50%;
      height: 5px;
      display: inline-block;
      background-color: #BE0E14;
      top: 30px;
      left: -20px;
      position: relative;
    }

    .panel-sub {
      padding: $pt-3 $pt-2 $pt-2 $pt-2;

      h6 {
        @include breakpoint(xs) {
          font-size: $f25;
        }

        @include breakpoint(sm) {
          font-size: $f25;
        }

        @include breakpoint(md) {
          font-size: $f25;
        }
      }
    }
  }
}

.stepswrapper {
  .step-card {
    background-color: $white;
    border-radius: 4px;
    padding: $pt-2;
    
    h2 {
      color: $light-gray;
    }

    h6 {
      font-size: $f20;

      @include breakpoint(lg) {
        font-size: $f18;
      }

      @include breakpoint(md) {
        font-size: $f16;
      }
    }

    p {
      font-size: $f14;
      margin-bottom: 0;
    }

    @include breakpoint(xs) {
      margin-bottom: $mt-2;
      text-align: center;
    }

    @include breakpoint(sm) {
      margin-bottom: $mt-2;
      text-align: center;
    }
  }
}

.infoWrapper {
  .service-img{
    height: 100%;
    width: 100%;
    img{
      height: 100%;
      width: 100%;
    }
  }
  label {
    input {
      color: $black;
      font-family: $inter;
      font-size: 16.502px;
      font-weight: $fw500;
      line-height: 29.114px;
      /* 176.429% */
    }
  }

  h2 {
    @include breakpoint(xs) {
      font-size: $f28;
      line-height: 32px;
    }

    @include breakpoint(sm) {
      font-size: $f28;
      line-height: 32px;
    }

    @include breakpoint(md) {
      font-size: $f28;
      line-height: 32px;
    }
  }
}