@import "../../assets/sass/main.scss";

.main {
    .up-date {
        .col-md-12{
            @include breakpoint(sm) {
                padding: 0;
            }
        }
        @include breakpoint(sm) {
            padding: 0;
        }
    }

    button {
        background-color: #BE0E14;
        color: $white;
        text-transform: capitalize;
        border: none;
        width: 100%;
        padding: 16px 0;
        font-size: $f28;
        margin-bottom: 30px;
        margin-top: 30px;
        @include breakpoint(sm){
            margin-bottom: 0;
        }
    }
}