@import "../../../assets/sass/main.scss";
.containerAllMachinery {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    width: 100%;
    height: 684px;
   
    .oneStopSourceFor1 {
        font-size: 32px;
        text-transform: capitalize;
        font-family: Inter;
        color: #363636;
        text-align: center;
        }

        .cardContainer{
            margin: 0;
            padding: 0;
          display: flex;
          flex-direction: row;
         
         justify-content: center;
         flex-wrap:wrap;
          gap: 20px;
         width: 100%;
       

        .rectangleParent {
        position: relative;
        // width: %;
        // height: 230px;
        text-align: center;
        font-size: 20px;
        color: #363636;
        font-family: Inter;

        .instanceChild {
            top: 0px;
            left: 0px;
            border-radius: 4px;
            background-color: #fff;
            width: 230px;
            height: 230px;

            .maskGroupIcon { 
                width: 72px;
                height: 72px;
                object-fit: cover;
                }
            }
        }
        
        }

    }
    
 
        

    