
.applicaionBox { margin-top: 50px;
    @include breakpoint(sm){ margin-top: 30px;}

    p{@include p_text;}

    .applicaionBlock{ padding: 0 15px; position: relative;
        .detail { padding-top: 30px;}
        
        .machine_name { margin-bottom: 15px; font-size: 18px; color: $blue-bg3; font-weight: 600;}
        figure { width: 100%; height: 100%; position: relative;
            &::after{ @include shape_square; background: $red-bg1; z-index: 1;}
            img {width: 100%; z-index: 2; position: relative;}
        }
    }

}
.innerBannerBox{
    .page_title { padding: 40px 50px; font-size: 50px; color: $white; font-weight: 700; background: $blue-bg3;
        @include breakpoint(md){ padding: 15px 20px; font-size: 30px;}
        span{ display: block; font-size: 30px;
            @include breakpoint(md) {font-size: 20px;}
        }
        &::after{ width: 101px; height: 100%; content: ""; position: absolute; right: -101px; top: 0px; background: url(../../../public/images/pages/application/title_bg.png) left top no-repeat;}
    }
}