@import "../../assets/sass/main.scss";

.description-section {
    padding: 50px 0 0 0;

    .head {
        font-size: $f42;
        margin-bottom: 10px;
        font-weight: 600;
    }
}

.introwrapper {
    padding: 60px 0 40px 0;
    @include breakpoint(sm) {
        padding: 0 0 40px 0;
    }

    img{
        @include breakpoint(sm) {
            margin-top: $mt-3;
        }
    }

    .introcontent {
        margin-right: 80px;

        @include breakpoint(md) {
            margin: 0;
            padding-top: 20px;
        }
        @include breakpoint(sm) {
            margin: 0;
            padding-top: 20px;
        }

        .bold-content {
            @include breakpoint(sm) {
                display: none;
            }
        }

        h2 {
            font-size: $f42;
            font-weight: 600;
            margin-bottom: 10px;

            @include breakpoint(md) {
                font-size: 30px;
            }

            @include breakpoint(sm) {
                font-size: 24px;
                margin-bottom: 0;
                line-height: 40px;
            }
        }

        button {
            background-color: #E21D23;
            color: $white;
            padding: 8px 100px;
            border: none;
            border-radius: 6px;
            margin-top: 10px;
            text-transform: capitalize;
        }
    }
}

.staff-section {
    padding: 50px 0;

    @include breakpoint(sm) {
        padding-bottom: 0;
    }

    .container {
        @include breakpoint(sm) {
            padding: 0;

            .col-md-4 {
                padding: 0;
            }
        }
    }

    .staff-card {
        border: 1px solid #D9D9D9;

        @include breakpoint(sm) {
            margin-bottom: $mt-2;
        }

        .staff-img {
            img {
                height: 100%;
                width: 100%;
            }
        }

        .staff-content {
            padding: 20px;

            p {
                font-size: $f16;
                @include breakpoint(md) {
                    font-size: $f14;
                }
                @include breakpoint(sm) {
                    font-size: $f16;
                }
            }

            hr {
                margin-left: -20px;
            }

            h5 {
                font-size: 16px;
                font-weight: bold;
                line-height: 24px;
            }

            h6 {
                font-size: 16px;
                font-weight: normal;
                line-height: 24px;
                color: #666666;
                @include breakpoint(md) {
                    font-size: $f14;
                }
                @include breakpoint(sm) {
                    font-size: $f16;
                }
            }

            .icon {
                i {
                    font-size: $f32;
                    color: #BFBFBF;
                }
            }
        }
    }
}

.blog-section {
    padding: 50px 0;

    @include breakpoint(sm) {
        padding-top: 0;
    }

    h2 {
        font-size: $f42;
        font-weight: 600;
    }

    .blog-card {
        @include breakpoint(sm) {
            margin-bottom: $mt-3;
        }

        box-shadow: 0px 1px 3px 1px #ccc;

        .blog-img {
            img {
                height: 100%;
                width: 100%;
            }
        }

        .blog-content {
            padding: 20px;

            h4 {
                font-size: $f24;
                font-weight: normal;
            }

            p {
                font-size: $f16;
            }

            a {
                text-transform: capitalize;
                color: #666560;
                font-size: $f18;
                font-weight: 600;

                i {
                    font-size: $f16;
                    margin-left: 8px;
                }
            }
        }

        .author {
            .author-img {
                img {
                    height: 30px;
                    width: 30px;
                }
            }
        }
    }
}