#testimonialCntr { padding: 0 0 20px 0; width: 100%;
    
    .testiMonialBox { position: relative; color: $white;
            &::before { width: 100%; height: 102px; content: ""; display: block; position: absolute; left: 0px; top: 0px; z-index: 1; background: url(../../../../public/images/pages/home/testimoniaTop_bg.jpg) left top no-repeat; background-size: 100%; }
        .holder{ padding: 0 20px; width: 100%; display: flex; align-content: center; position: relative; background: $blue-bg3;
            &::before { width: 100%; height: 33px; content: ""; display: block; position: absolute; left: 0px; bottom: -15px; z-index: 1;  background: url(../../../../public/images/pages/home/testimoniaBottom_bg.jpg) left top no-repeat; background-size: 100%;
                @include breakpoint(lg){ bottom: -20px;}
                @include breakpoint(sm){ bottom: -30px;}
            }
            &::after { width: 0; height: 0; border-top: 65px solid transparent; content: ""; transform: rotate(-114deg); border-right: 80px solid $blue-bg3;; border-bottom: 10px solid transparent; position: absolute; right: 10%; bottom: -57px;}

            .block { margin-bottom: 50px; width: 100%; height: 100%; position: relative;}
            
            .image { width: 300px; display: flex; float: left; align-items: center;flex-direction: column;
                @include breakpoint(sm){ width: 100%; float: none;}
                
                figure { width: 160px; height: 160px; border-radius: 100%; border: 5px solid $blue-bg4; overflow: hidden;
                    img {width: 100%;}
                }
                .name { font-size: 26px; font-weight: 600;}
                .star{ width: 150px;}
            }
            .detail { margin-top: 50px; height: 100%; float: right; width: calc(100% - 300px); display: flex;
                @include breakpoint(sm){ margin-top: 20px; display: block; width: 100%; float: none;}
                p { padding-left: 20px; @include p_text; color: $white; border-left: 1px solid $white-trans6; align-self: center;
                    @include breakpoint(sm){ border-left: 0px; text-align: center;}
                }
            }
            
        }

        
    }

}