#achievementCntr { padding: 70px 0 0 0; width: 100%;
    @include breakpoint(lg) { padding: 50px 0 0 0;}
    @include breakpoint(md) { padding: 30px 0 0 0;}
    
    figure { margin-bottom: 0px; width: 100%; position: relative;
        @include breakpoint(sm){ margin-bottom: 40px; margin-left: 10px;}
        img { width: 100%; position: relative; z-index: 1;}

        &:hover img {animation: motion-top 1s ease infinite;}
        &::after { @include shape_square; z-index: 0;}
    }

    .viewMorebtn { margin: 100px 0 100px 0; @include btn_red;
        @include breakpoint(md){ margin: 50px 0 20px 0;}
        @include breakpoint(sm){ margin: 10px 0 20px 0;}
    }
}