#footerCntr {
    width: 100%;
    padding: 70px 0 50px 0;
    background: $black-bg1;

    @include breakpoint (sm){
        padding: 20px 0px;
      }
    

    .footerBox {
      width: 100%;
      font-size: 14px;

      @include breakpoint (md){
        margin-top: 20px;
      }

      h4 {
        margin-bottom: 20px;
        font-size: 18px;
        color: #fff;
        font-weight: 600;
        @include breakpoint (sm){
          margin-bottom: 10px;
        }
      }

      h3 {
        @include breakpoint(xxl){
          margin-bottom: 15px;
          font-size: 20px;
        }
        @include breakpoint(xl){
          font-size: 18px;
        }
    }

      p {
        color: $white;
        font-weight: 300;
        line-height: 24px;
      }

      .introBox { width: 100%; padding-right: 50px;
        @include breakpoint (sm){ padding-right: 0px;}
        .footer_logo { margin-bottom: 10px;}
      }

      ul{ list-style: none; margin-bottom: 20px;
        &.list {
          padding-left: 0px;

          li {
            margin-bottom: 10px;
            a {
              color: $white;
              font-weight: 300;
              text-decoration: none;
              transition: all 0.3s;

              &:hover{
                color: $red-text;
              }
            }
          }
        }
      }
      
      .gettouch {
         padding-left: 0px;

         li{ position: relative; padding-left: 30px; margin-bottom: 10px;
          i{ position: absolute; color: $white; left: 0px; top: 0px;}
          a{ color: $white; text-decoration: none;}
        }
     }
      
    }
    
    .address {
      color: $white;
      font-weight: 300;
      line-height: 24px;
      margin-bottom: 0px;
      position: relative;

      i {
        font-size: 20px;
        color: #fff;
        position: absolute;
        left: 0px;
        top: -5px;
      }

      a {
        color: $white;
        font-weight: 300;
        text-decoration: none;

        &:hover {
          color: #5fb138;
        }
      }

    }
    .copyrightBox {
      padding: 20px 0 0 0;
      width: 100%;
      overflow: hidden;
      font-size: 16px;
      color: #fff;
      text-align: center;
      background: $red-bg1;
    }
  }
   