@import "../../assets/sass/main.scss";

/* Footer Section */
.footer-section {
  background-color: $footer-background;
  padding: 40px 0 20px 0;
  //  flex-shrink: 0;
  display: flex-box;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 0px;
  .row{
    width: 100%;
    margin-bottom: 20px;
  }
  .line{
    width: 100%;
  }
  p {
    color: $white;
    margin-top: 15px;
    margin-bottom: 10px;
  }
}

/* Footer Logo */
.footer-logo {
  @include breakpoint(sm) {
    display: flex;
  }

  ul {
    padding-left: 0;
    margin-left: 0;

    // margin-top: 60px;
    @include breakpoint(sm) {
      margin-left: 20px;
      padding-left: 20px;
      border-left: 2px solid #7B7B7B;
    }

    li {
      list-style-type: none;
      margin-bottom: 10px;

      a {
        color: $white;

        i {
          margin-right: 10px;
          @include breakpoint(sm){
            display: none;
          }
        }
      }
    }
  }

  .imgDiv {
    margin: 20px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    @include breakpoint(sm) {
    display: none;
    }
  }

}

/* Footer Link */
.footer-link {
  @include breakpoint(sm) {
    margin-bottom: $f20;
  }

  h4 {
    color: $white;
    margin-bottom: 20px;
    font-size: 20px;
  }

  ul li {
    list-style-type: none;
    margin-bottom: 14px;

    a {
      text-transform: capitalize;
      color: $white;
    }
  }

  input {
    border: 1px solid #bebebe;
    background: transparent;
    width: 80%;
    padding: 6px 8px;
    font-size: 14px;
  }
}

.footer-section .line {
  border-top: 1px solid $white !important;

  .imgDiv {
    display: none;
    
    @include breakpoint(sm) {
      margin: 20px 0px 0px 0px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }
  }

  p {
    font-size: 14px;

    @include breakpoint(sm) {
      text-align: center;
    }
  }

}

/* Copyright */
.copyright {
  margin-top: 20px;

  @include breakpoint(sm) {
    text-align: center;
    margin-top: $mt-1;
  }

  li {
    list-style-type: none;
    display: inline;
    margin-left: 30px;
    color: $white;
    font-size: 14px;

    a {
      color: $white;
    }
  }

}