#latestnewsCntr { width: 100%; overflow: hidden;
    h2{ margin-bottom: 40px;}

    .latestnewsBox { width: 100%; padding: 50px 0;
        @include breakpoint(sm){ padding: 20px 0 20px 0;}
        .block { width: 100%; padding: 0 15px; margin-bottom: 20px;
            @include breakpoint(sm){ margin-bottom: 30px;}

            h2{ text-align: left; font-size: 20px; margin-bottom: 20px;
                @include breakpoint(sm){ margin-bottom: 10px;}
            }
            figure { margin-bottom: 50px; width: 100%; position: relative;
                @include breakpoint(sm){ margin-bottom: 30px;}

                img { width: 100%; height: 350px; object-fit: cover; position: relative; z-index: 1;
                    @include breakpoint(sm){ height: 250px;} 
                }
                &::after { @include shape_square; z-index: 0;}
            }

            p { @include p_text; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
            .readmoreBtn { border: none; position: relative; white-space:nowrap;
                &::after { width: 100%; height: 100%; font-size: 16px; color: $black; font-weight: 700; display: block; content: "Read more"; position: absolute; left: 0px; top: 0px }
            }

        } 
        
        .showmore {
            p { @include p_text; overflow: auto; text-overflow: inherit; display: inherit; transition: ease 1s all;}
            .readmoreBtn {
                &::after{ content: "Show Less";}
            }
        }

        .swiper-pagination { margin-top: 50px; position: relative;}
        .swiper-pagination-bullet { width: 10px; height: 10px; border-radius: 100%; background: $blue-bg1;}
        .swiper-pagination-bullet-active { width: 12px; height: 12px; background: $red-bg1;}
    }

    .eventsBox { padding: 50px 0; width: 100%; background: $gray_bg1; position: relative;
        @include breakpoint(sm) { padding-bottom: 0px;}
        &::after { width: 100%; height: 165px; content: ""; position: absolute; left: 0px; bottom: 0px; background: $white; z-index: 1; }
        
        
        .eventblock { width: 100%; padding: 0 20px 11px 20px; text-align: center; height: 450px; display: flex; flex-direction: column; align-items: center; position: relative; z-index: 2;
            @include breakpoint(md){padding: 0 10px 20px 10px;}
            @include breakpoint(sm){ margin: 0px; margin-bottom: 100px; width: 100%; padding: 0  10px 20px 10px; }

            @include breakpoint(sm){
                &:first-child{ margin-top: 70px ;}
                &:last-child{ margin-bottom: 20px;}
            }
            .dateCircle { padding: 20px; width: 241px; height: 241px; border-radius: 100%; border: 5px solid $gray_bg1; margin-top: -30%;
                @include breakpoint(lg) { width: 150px; height: 150px; padding: 10px; margin-top: -29%;}
                @include breakpoint(sm) {margin-top: -20%;}

                .innercircle { width: 100%; height: 100%; font-family: $sub_font_face; font-size: 28px; display: flex;flex-direction: column; justify-content: center; align-items: center; color: $black; font-weight: 600; background: $gray_bg1; border-radius: 100%; border: 1px solid $red-bg1;
                    @include breakpoint(lg){ font-size: 19px;}
                    @include breakpoint(md){ font-size: 16px;}
                    
                    .day { font-size: 40px; line-height: 30px;}
                    .month { font-size: 20px; color: $blue-text;}
                    .year { font-size: 20px;}
                span { display:  block;}
                }
            }

            h3 { margin: 20px 0; font-size: 20px; font-weight: 700; color: $white; 
               @include breakpoint(sm) { margin: 10px 0; font-size: 20px;}
            }
            p{ @include p_text; color: $white;}
        }
        
        .swiper{ padding-top: 56px;
            @include breakpoint(lg) { padding-top: 10px;}
        }
        .swiper-slide{
            &:nth-child(odd) { margin-top: 150px; background: $red-bg1;
                @include breakpoint(md) { margin-top: 100px;}
            }

            &:nth-child(even) { margin-top: 100px; background: $blue-bg1;
                @include breakpoint(md) { margin-top: 100px;}

                .dateCircle {border: 5px solid $gray-bg1;
                    .innercircle { border: 1px solid $blue-bg1;}
                }
            }
        }

        
    }

    .upComingExhibitiobnsBox{ padding: 0 0 100px 0;
        @include breakpoint(md){ padding: 50px 0;}
        @include breakpoint(sm){ padding: 20px 0;}

        h2{ margin-bottom: 0px;
            @include breakpoint(sm){ margin-bottom: 30px; }
        }

        .right{ padding: 70px; padding-right: 0px; width: 100%; position: relative;
            @include breakpoint(md) { padding: 50px;}
            @include breakpoint(sm) { padding: 30px; text-align: center;}

            &::after { width: 3000px; height: 100%; display: block; content: ""; position: absolute; left: 0px; top: 0px; border-radius: 10px; background: $blue_bg1; z-index: 0;
                @include breakpoint(sm){ width: 100%;}
            }
            .text {position: relative; z-index: 3;}
            h3{ font-size: 40px; color: $white;
                @include breakpoint(md){ font-size: 30px;}
            }
            .date{ display: block; margin: 15px 0 20px 0; font-size: 25px; color: $white;
                @include breakpoint(md){ font-size: 18px;}
            }
            p{ @include p_text; color: $white;}


            .swiper-pagination { margin-top: 10px; position: relative;}
            .swiper-pagination-bullet { width: 10px; height: 10px; border-radius: 100%; background: $white;}
            .swiper-pagination-bullet-active { width: 12px; height: 12px; background: $red-bg1;}
        }
    }
}