/* .footer-section {
    background-color: #1a1a1a;
    padding: 40px 0;
  }
  .footer-section p {
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .footer-logo ul {
    padding-left: 0;
    margin-top: 60px;
  }
  .footer-logo ul li {
    list-style-type: none;
    margin-bottom: 10px;
  }
  .footer-logo ul li a {
    color: #ffffff;
  }
  .footer-logo ul li a i {
    margin-right: 10px;
  }
  .footer-link h4 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .footer-link ul li {
    list-style-type: none;
    margin-bottom: 14px;
  }
  .footer-link ul li a {
    text-transform: capitalize;
    color: #ffffff;
  }
  .footer-link input {
    border: 1px solid #bebebe;
    background: transparent;
    width: 80%;
    padding: 6px 8px;
    font-size: 14px;
  }
  .footer-section .line {
    border: 1px solid #666666 !important;
  }
  .copyright {
    margin-top: 20px;
  }
  .copyright li {
    list-style-type: none;
    display: inline;
  }
  .copyright li {
    margin-left: 30px;
    color: #fff;
  }
  .copyright li a {
    color: #fff;
  } */