$breadcrumb-divider: quote(">");
// colors
$white: #fff;
$black: #363636;
$gray: #666666;
$zblack: #000;
$footer-background: #283742;
$feedback-background: #f6f8fa;

// Font

$inter: "Inter", sans-serif;
// $playFlair: "Playfair Display", serif;
$roboto: "Roboto", sans-serif;

// Font Sizes
$f12: 12px;
$f13: 13px;
$f14: 14px;
$f16: 16px;
$f18: 18px;
$f20: 20px;
$f22: 22px;
$f24: 24px;
$f28: 28px;
$f32: 32px;

// Font Weights

$fw400: 400;
$fw500: 500;
$fw600: 600;
$fw700: 700;
$fw800: 800;
$fw900: 900;

// Widths

$w100: 100%;

// Spacing

$pt-1: 10px;
$pt-2: 20px;
$pt-3: 30px;
$pt-4: 40px;
$pt-5: 50px;
$pt-6: 60px;
$pt-7: 70px;

$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-smallscreen: 992px;
$breakpoint-bigScreen: 1200px;
