@import "../../assets/sass/main.scss";

.tablewrapper {
    .container{
        @include breakpoint(sm){
            padding: 0;
            .col-md-12{
                padding: 0;
            }
        }
    }
    table {
        .arrow {
            display: inline-block;
            float: right;

            .up {
                display: flex;
            }

            .down {
                display: flex;
            }

            i {
                font-size: 14px;
                height: 10px;
            }

            .fa-solid .fa-angle-up {
                height: 12px;
            }
        }

        td {
            @include breakpoint(sm) {
                font-size: $f13;
            }
        }
    }

    .table-striped>tbody>tr:nth-of-type(odd) {
        background-color: $white !important;
        --bs-table-accent-bg: $white;
    }

    .table-striped>tbody>tr:nth-of-type(even) {
        background-color: #F4F4F4 !important;
        --bs-table-accent-bg: #F4F4F4;
    }
}

.listing-section {
    padding: 40px 0;
    .container{
        @include breakpoint(sm){
            padding: 0;
            .col-md-4{
            padding: 0;
        }
        .col-md-12{
            padding: 0;
        }
        }
    }

    .listing-card {
        @include breakpoint(sm) {
            margin-bottom: 30px;
        }
        .listing-image{
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    

    .text {
        text-align: justify;
        margin-top: 14px;
        @include breakpoint(sm){
                padding: 0 20px;
            }

        h4 {
            font-size: $f24;
            @include breakpoint(md){
                font-size: $f18;
            }
            @include breakpoint(sm){
                font-size: $f28;
            }
        }
        p{
            @include breakpoint(md){
                font-size: $f14;
            }
            @include breakpoint(sm){
                font-size: $f18;
            }
        }
        a {
            font-size: $f18;
            color: #363636;
            text-decoration: underline !important;
            text-transform: capitalize;

            i {
                margin-left: 10px;
            }
        }
    }
    button{
        background-color: #BE0E14;
        color: $white;
        width: 100%;
        padding: 14px 0;
        border: none;
        font-size: $f26;
        line-height: 34px;
        cursor: default;
        @include breakpoint(sm){
                font-size: $f28;
            }
    }
}