@import "../src/components/sass/core.scss";
@import "../src/pages/style.scss";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
}

input,
button {
    font-family: $font-face;
}

focus {
    outline: none;
}
ul{ list-style: none;}


body {
    font-family: $font-face;
    font-size: 14px;
    background-color: $white;
    line-height: normal;
}

.container { max-width: 1442px;}
.wraperCntr { overflow-x: hidden;}

h2{ margin-bottom: 50px; font-size: 40px; color: $red-text; font-weight: 700; text-align: center;
    @include breakpoint(md) { font-size: 30px; margin-bottom: 30px;}
    @include breakpoint(sm) { font-size: 20px; margin-bottom: 10px;}
}
.main_title { padding: 20px 30px 20px 30px; font-size: 50px; color: $blue-text1; font-weight: 700; position: relative; background: #fce0e0;
    &::after { width: 82px; height: 100%; display: block; content: ""; position: absolute; top: 0px; right: -82px; background: url(../public/images/pages/gallary/main_title_bg.png) left top no-repeat;}
    @include breakpoint(sm){padding: 10px 20px 10px 20px;font-size: 30px;}

   }

.sub_title { padding: 15px 30px 15px 30px; display: inline-block; font-size: 30px; color: $white; font-weight: 700; position: relative; background: $blue-bg3; border-bottom: 8px solid $red-bg1;
    &::after { width: 37px; height: 73px; display: block; content: ""; z-index: 1; position: absolute; top: 0px; right: -37px; background: url(../public/images/pages/gallary/subtitle_bg.png) left top no-repeat;
      @include breakpoint(sm){height: 52px; background-size: contain;}
      @include breakpoint(xs){font-size: 18px;}
    }
    
    @include breakpoint(sm){ padding: 11px 30px 12px 30px;font-size: 20px; border-bottom: 6px solid #E21D23;}
}

.clear {
    &::after{ display: block; content: ""; clear: both;}
}

.innerBannerBox { width: 100%; height: 585px; position: relative;
  @include breakpoint(lg){ height: 400px;}
  @include breakpoint(sm){ height: 250px;}

  &::after{ width: 100%; height: 100%; content: ""; opacity: 0.7; position: absolute; left: 0px; top: 0px; background: $red-bg1;}
  .container {height: 100%; display: flex; align-items: center;}

  h1{ z-index: 3; position: relative;}
}

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.1, 1.1);
    }
    100% {
      transform: scale(1, 1);
    }
  }

  @keyframes motion-top {
    0% {
      position: relative;
      top: 0px;
      left: 0px;
    }
    50% {
        position: relative;
        top: 20px;
        left: -20px;
    }
    100% {
        position: relative;
        top: 0px;
        left: 0px;
    }
  }



  @keyframes motion {
    0% {
      transform: translate(0px);
    }
    50% {
      transform: translate(10px);
    }
    100% {
      transform: translate(0px);
    }
  }