@import "../../../assets/sass/main.scss";
.container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     .heading{
        color: #363636;
text-align: center;
font-family: Inter;
font-size: 44px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
margin: 60px;
     }
     .description{
        width: 936px;
        // text-align: center;
     }

     .slide-container{
        // display: flex;
        // justify-content: center;
        // align-items: center;
        width: 100%;

        padding: 60px;
    
            margin: auto;

       
     }
    
     .image{
   
        border-radius: 12px;
        height: auto ;
    
        width: 80% ;
        margin: 40px;
        filter:  lightgray -32.736px -254.434px / 103.05% 159.1%;
     }
}