@import '../../../../assets/sass//main.scss';

.modal {

    display: none;
    position: fixed;
    align-items: center;
    top: 20%;
    width: 600px;
    height: 400px;
    //   bottom:50%;
    left: 5%;
  
    //  background: rgba(255, 255, 255, .4);
    padding: 20px;
    overflow: hidden;
   

    img {
        height: 100px;
        width: 100px;
        border-radius: 50px;
        padding: 10px 10px 10px 10px;
        align-self: center;
        align-items: center;
        align-content: center;
    }

    p {
        padding: 10px 10px 10px 10px;
        text-align: justify;
    }

}

.modal-backdrop.show {
    // background: rgba(255, 255, 255, .4);a
}


// .modal-container {
//     // position: absolute;
//     // background: rgba(255, 255, 255, .4);
// }

// .modal {
//     display: none;
//     // position: relative;
//     align-items: center;
//       bottom:50%;
//     //    left: 50%;
//     // transform: translate(-50%, -50%);
//     background: rgba(255, 255, 255, .4);
//     padding: 20px;
//     border: 1px solid #ccc;
//     align-self: center;
// }

// .modal-content {
//     /* Add styling for your modal content */
//     padding: 10px;
//     align-items: center;

//     p {
//         color: $black ;
//         display: inline;
//     }
// }

// .modal.open {
//     display: block;
//     position: relative;

//     p {
//         color: $black ;
//     }
// }