@import "../../../assets/sass/main.scss";

.achievements {
    background: $footer-background ;
    padding: 30px 10px 30px 10px;
    align-items: center;
    justify-content: center;
    width: 100%;

    h4 {
        color: $white;
        text-align: center;
    }

    p {
        color: $white;
        text-align: center;
        padding-top: 20px;
    }

    .imgSection {
        display: flex;
        justify-content: center;
        padding: 20px;

        @include breakpoint(sm) {
            display: none;

        }
        img{
            height: 100%;
            width: 100%;
        }
    }

    .responsiveImgSection {
        display: none;

        @include breakpoint(sm) {
            .slider {
                // height: 200px;
                width: 100%;
                padding: 0px 15px 0px 15px;
            }
            .slick-slider{
                margin: 0;
            }
            padding: 0px 15px 0px 15px;
            display: flex;

            img {
                // height: 250px;
                width: 100%;
                position: relative;
                margin-top: 15px;
            }
        }
    }

    img {
        padding-right: 0;
    }

    .buttondiv {

        justify-content: center;
        display: flex;

        .button {
            background: $white;
            color: $black;


        }
    }
}