#servieceCntr {
    .sub_title { margin-bottom: 50px;
        @include breakpoint(md){  margin-bottom: 20px;}
        @include breakpoint(sm){  margin-bottom: 10px;}
    }

    .overviewBox {overflow: hidden; padding: 70px 0 0 0; width: 100%;
        @include breakpoint(lg){ padding-top: 50px;}
        @include breakpoint(md){ padding-top: 30px;}
        @include breakpoint(sm){ padding-top: 20px;}

        .imageBox { padding-left: 50px; margin-bottom: 50px; width: 50%; position: relative; float: right; 
            @include breakpoint(sm){ padding-left: 20px; margin-bottom: 30px; width: 100%;}
        }

        figure { margin-bottom: 0px; width: 100%; position: relative;
            img { width: 100%; position: relative; z-index: 1;}
            &::after { @include shape_square; z-index: 0;}
        }
    
       
        p{@include p_text;}
        .aboutBtn { margin-top: 20px; @include btn_blue;
            @include breakpoint(md){ margin-top: 0px;}
        }
        .viewMorebtn { margin: 50px 0 20px 0; padding: 20px 40px; @include btn_blue;
            @include breakpoint(md){ margin: 20px 0 20px 0;}
        }
    }

    .RetrofitBox { padding: 70px 0; width: 100%;
        @include breakpoint(lg) { padding: 50px 0;}
        @include breakpoint(md) { padding: 30px 0;}
        
        figure { margin-bottom: 0px; width: 100%; position: relative;
            @include breakpoint(sm){ margin-bottom: 40px; margin-left: 10px;}
            img { width: 100%; position: relative; z-index: 1;}

            &:hover img {animation: motion-top 1s ease infinite;}
            &::after { @include shape_square; z-index: 0;}
        }

        .viewMorebtn { margin: 100px 0 100px 0; @include btn_red;
            @include breakpoint(md){ margin: 50px 0 20px 0;}
            @include breakpoint(sm){ margin: 10px 0 20px 0;}
        }
    }
}