@import "../../assets/sass/main.scss";

.section{
  padding: 84px 0 !important;
}
.ourStory {
  .ourStory-banner {
    width: 100%;
    min-height: fit-content;
  }
  @include breakpoint(sm){
    text-align: center;
  }
  h3{
    font-size: 40px;
    @include breakpoint(sm){
      font-size: $f24;
    }
  }
}

.aboutFeaturesWrapper {
  h3{
    font-size: 40px;
    margin-bottom: 10px;
    @include breakpoint(sm){
      font-size: $f24;
    }
  }
  p{
    font-size: 16px;
  }
  .aboutFeatures {
    padding-top: 30px;
    @include breakpoint(md) {
      padding-top: 15px;
    }
    .icon-box-wrapper {
      .icon{
        margin-bottom: 20px;
      }
      h4 {
        color: $black;

        font-size: $f28;
        font-weight: 700;
        line-height: 130%; /* 41.6px */
        @include breakpoint(md) {
          font-size: 21px;
        }
      }
      p {
        padding-top: 24px;
        font-size: 16px;
        line-height: 150%; /* 24px */
      }
    }
  }
}

.aboutProductsWrapper {
  @include breakpoint(sm){
    text-align: center;
  }
  @media (max-width: 768px) {
    .productImage {
      padding-top: $pt-1 !important;
      img{
        @include breakpoint(sm){
          display: none;
        }
      }
    }
  }

  p {
    font-size: 16px;
    line-height: 150%; /* 24px */
  }
  .responsive-img{
    display: none;
    @include breakpoint(sm){
      display: block;
    }
  }
}

.section_head {
  color: $black;
  font-family: $inter;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%; /* 48px */
  @include breakpoint(sm){
    font-size: $f26;
    margin-bottom: 14px;
  }
}

.companyInformation {
  p {
    color: $gray;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%; /* 30px */
  }
  .company-head{
    @include breakpoint(sm){
      text-align: center;
    }
    h4{
      @include breakpoint(sm){
        font-size: $f28;
        margin-bottom: 14px;
      }
    }
  }

  .companyInfoWrapper {
    position: relative;
    .company {
      position: relative;
      display: flex;
      justify-content: space-between;
      &:not(:last-child) {
        margin-bottom: 50px;
      }

      .icon {
        width: 80px;
        height: 80px;
      }
      .company-content {
        width: calc(100% - 100px);
        h6 {
          font-size: 24px;
          line-height: 120%; /* 28.8px */
        }
        p {
          font-size: 14px;
          font-weight: 400;
          line-height: 150%; /* 21px */
          margin-bottom: 0;
        }
      }
    }
    .company + .company {
      &::before {
        content: "";

        width: 0px;
        height: 100%;
        position: absolute;
        border: 1px dashed #d6d6d6;
        top: -86px;
        left: 7.5%;
        margin-top: 0;
        z-index: -1;
        @include breakpoint(xs) {
          left: 10.5%;
        }
        @include breakpoint(md) {
          top: -65px;
          left: 5.5%;
        }
        @include breakpoint(lg) {
          top: -110px;
          left: 11.5%;
        }
      }
    }
  }

  .company-statistics {
    width: 100%;
    position: relative;
    .profile-image {
      img {
        border-radius: 16px;
      }
      @include breakpoint(md) {
        margin-top: 40px;
      }
    }
    .counterWrapper {
      width: 60%;
      height: 148px;
      //   border-radius: 16px;
      //   background: #085b88;
      margin: auto;
      margin-top: -9%;
      padding: 26px 43px;
      font-family: $inter;
      display: flex;
      justify-content: space-between;
      position: relative;
      @include breakpoint(lg) {
        width: 88%;
        margin-top: -9%;
        padding: 25px 26px;
      }
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 148px;
        border-radius: 16px;
        position: absolute;
        top: 0;
        left: 0;
        background: #085b88;
        mix-blend-mode: multiply;
      }
      .counter-box {
        position: relative;
        max-width: 82px;
        color: #fff;
        text-align: center;

        .counter {
          font-size: 37px;
          font-weight: 800;
          line-height: 150%; /* 56.446px */
        }
        .counter-title {
          font-size: 15px;
          font-weight: 600;
          line-height: 18px;
        }
      }

      .counter-box + .counter-box {
        &::after {
          content: "";
          width: 0px;
          height: 100%;
          position: absolute;
          border: 1px solid #ffffff;
          margin-top: 0;
          z-index: 0;
          left: -19px;
          top: 4px;
          @include breakpoint(sm) {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
