@import "../../../assets/sass/main.scss";

.feedback {

    background: $feedback-background;
    padding: 40px 0px 40px 0px;
    margin-right: 0px;

    .secondaryfeedback {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;

        h5 {
            font-size: 19px;
            font-weight: 700;
        }


        .formMain {
            background-color: $white;
            border: 1px solid ghostwhite;
            padding: 15px;
            border-radius: 10px;
            box-shadow: 2px 2px 2px 2px;
            color: gainsboro;
            width: 90%;
            // height: 50%;
            // overflow-y: scroll;

            .modalBg {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                h6 {
                    font-size: 16px;
                }
                i{
                    cursor: pointer;
                }
            }
        }
    }

    h4 {
        color: #000;
        font-weight: 600;
        font-size: 15px;
    }

    p {
        font-size: 13px;
        line-height: 20px;

        @include breakpoint(sm) {
            font-size: 12px;
        }
    }

    .feed-btn {
        background-color: #E21D23;
        color: $white;
        :hover{
            background-color: #E21D23;
            color: $white;
        }
    }

    .iso {
        // flex-direction: row;
        // display: flex;
        margin-bottom: 20px;

        display: flex;
        justify-content: space-between;

        .icon {
            padding-right: 10px;
            height: 48px;
            width: 50px;
            margin-right: 10px;

            @include breakpoint(sm) {
                height: 40px;
                width: 40px;
                margin-right: 0;
            }
        }

        h6 {
            font-size: 15px;
            line-height: 23px;
            margin-bottom: 4px;

            @include breakpoint(sm) {
                font-size: 12px;
                font-weight: bold;
            }
        }
    }

}

