@import '../../../assets/sass/main.scss';
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;

}
.container{
    .gallery{
        .row{
            img{
                height: auto;
                width: 100%;
                border-radius: 0;
                @include breakpoint(sm) {
                    margin-bottom: 20px;
                }
            }
        }
    }
}