@import "../../../assets/sass/main.scss";

.Customers {
    // display: flex;
    justify-content: center;
    align-items: center;

    h3 {
        text-align: center;
    }

    p {
        color: black;
        text-align: center;
        margin: 10px 0px 10px 0px;
    }
    .rowStyle{
        display: flex;
        flex-direction: row;
        // justify-content: space-around;
    }

    .messageScroll {
        background: #E2E8F0;
        padding: 10px 0px 10px 0px;
        align-items: center;
        margin: 10px 20px 40px 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.8s;
        overflow: hidden;
        height: 400px;

        .rowUi {
            display: flex;
            flex-wrap: wrap;
            // margin-bottom: 25px;
            justify-content: flex-end;
            align-items: flex-end;
            margin-left: 5px;
            img {
                height: 40px;
                width: 40px;
                border-radius: 30px;
                position: absolute;
                margin: 10px 5px 0px 5px;
                 margin-top: 15px;
            }

            p {
                background: $white;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
                border-top-left-radius: 30px;
                margin: 10px 10px 10px 50px;
                padding: 5px 15px 5px 10px;
                color: $black;
                flex-wrap: wrap;

            }
        }
        
       }
       .videoDiv {
        border-radius: 10px;
    }

   
}