@import "../../../assets/sass/main.scss";
.testimonial-container {
    height: 400px;
    overflow: hidden;
    background-color: #E2E8F0;
    position: relative;
    border-radius: 10px;
    @include breakpoint(sm){
        margin: 0 0px 30px 20px;
    }

    .scrolling-testimonials {
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: scrollTestimonials 20s linear infinite;
        padding: 0 40px;
        @include breakpoint(sm){
            padding: 0 5px 0 50px;
        }

        .testimonial-bubble-right{
            background-color: #262628;
            border-radius: 27.915px;
            padding: 10px 15px;
            margin: 10px;
            max-width: 80%;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            border-bottom-right-radius: 0;
            @include breakpoint(sm){
                max-width: 100%;
                padding: 10px;
            }
            .testimonial-author{
                font-size: 20px;
                line-height: 30px;
                color: #fff;
                font-weight: normal;
                margin-bottom: 10px;
                margin-top: -30px;
                @include breakpoint(sm){
                    font-size: $f16;
                }
            }
            .testimonial-text{
                color: #fff;
                font-size: 14px;
                font-weight: normal;
                display: inline-block;
            }
            ul{
                display: inline-block;
                padding-left: 20px;
                li{
                    color: #fff;
                    margin-left: 10px;
                    font-size: 14px;
                }
            }
            img{
                height: 40px;
                width: 40px;
                border-radius: 50px;
                left: 360px;
                position: relative;
                top: 90px;
                @include breakpoint(sm){
                    left: -56px;
                }
            }
        }
        .testimonial-bubble-left{
            background-color: #262628;
            border-radius: 27.915px;
            padding: 10px 15px;
            margin: 10px;
            max-width: 80%;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            border-bottom-left-radius: 0;
            @include breakpoint(sm){
                max-width: 100%;
                padding: 10px;
            }
            .testimonial-author{
                font-size: 20px;
                line-height: 30px;
                color: #fff;
                font-weight: normal;
                margin-bottom: 10px;
                margin-top: -30px;
                @include breakpoint(sm){
                    font-size: $f16;
                }
            }
            .testimonial-text{
                color: #fff;
                font-size: 14px;
                font-weight: normal;
                display: inline-block;
            }
            ul{
                display: inline-block;
                padding-left: 20px;
                li{
                    color: #fff;
                    margin-left: 10px;
                    font-size: 14px;
                }
            }
            img{
                height: 40px;
                width: 40px;
                border-radius: 50px;
                left: -70px;
                position: relative;
                top: 90px;
                @include breakpoint(sm){
                    left: -56px;
                }
            }
        }
    }
    .testimonial-detail{
        height: 100%;
        width: 100%;
        position: absolute;
        padding: 40px 80px;
        align-items: center;
        display: flex;
        .testimonial-content{
            text-align: center;
            h2{
                font-size: 28px;
                line-height: 35px;
                margin-bottom: 20px;
            }
            h6{
                font-size: 18px;
            }
            ul{
                li{
                    list-style-type: none;
                }
            }
            img{
                height: 50px;
                width: 50px;
                border-radius: 50px;
            }
        }
    }
}

.scrolling-testimonials.paused {
    animation-play-state: paused;
}

.testimonial-bubble:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.profile {
    height: 40px;
    width: 80px;
    border-radius: 50px;
    background-color: aqua;
}
.slick-slider {
    margin: 0 0px 20px 20px;
}
.slick-dots li button{
    display: none;
}
@keyframes scrollTestimonials {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}
.videoDiv{
    .slick-prev:before, .slick-next:before{
        color: #333 !important;
    }
}