@import "../../../assets/sass/main.scss";
.testimonial-container {
  height: 400px;
  overflow: hidden;
  background-color: #e2e8f0;
  position: relative;
  border-radius: 10px;
  @include breakpoint(sm) {
    margin: 0 0px 30px 20px;
  }

  .scrolling-testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: scrollTestimonials 20s linear infinite;
    @include breakpoint(sm) {
      padding: 0 0px 0 0px;
    }
    .testimonial-main-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      // @include breakpoint(sm) {

      // }

      .testimonial-bubble-right {
        max-width: 100%;
        position: relative;
        display: flex;
        align-items: flex-end;
        margin-bottom: 35px;
        @include breakpoint(md) {
          max-width: 90%;
          margin: 6px;
        }
        @include breakpoint(sm) {
          min-width: 90%;
          padding: 10px 0;
        }
        .testimonial-contant-details {
          padding: 10px 15px;
          background-color: #262628;
          border-radius: 27.915px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          transition: transform 0.3s ease, box-shadow 0.3s ease;
          border-bottom-right-radius: 0;
          .testimonial-author {
            font-size: 20px;
            line-height: 30px;
            color: #fff;
            font-weight: normal;

            @include breakpoint(md) {
              font-size: $f14;
            }
            @include breakpoint(sm) {
              font-size: $f16;
              line-height: 25px;
            }
          }
          .testimonial-text {
            color: #fff;
            font-size: 14px;
            font-weight: normal;
            display: inline-block;
          }
          ul {
            display: inline-block;
            padding-left: 20px;
            li {
              color: #fff;
              margin-left: 10px;
              font-size: 14px;
            }
          }
        }
        .image-container {
          img {
            height: 40px;
            width: 40px;
            border-radius: 50px;
            margin-left: 10px;
            
          }
        }
      }

      .testimonial-bubble-left {
        max-width: 100%;
        position: relative;
        display: flex;
        align-items: flex-end;
        margin-bottom: 35px;

        @include breakpoint(md) {
          max-width: 90%;
          margin: 6px;
        }
        @include breakpoint(sm) {
          max-width: 90%;
          padding: 10px 0;
        }
        .testimonial-contant-details {
          padding: 10px 15px;
          background-color: #262628;
          border-radius: 27.915px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          transition: transform 0.3s ease, box-shadow 0.3s ease;
          border-bottom-left-radius: 0;

          .testimonial-author {
            font-size: 20px;
            line-height: 30px;
            color: #fff;
            font-weight: normal;
            @include breakpoint(md) {
              font-size: $f14;
            }
            @include breakpoint(sm) {
              font-size: $f16;
              line-height: 25px;
            }
          }
          .testimonial-text {
            color: #fff;
            font-size: 14px;
            font-weight: normal;
            display: inline-block;
          }
          ul {
            display: inline-block;
            padding-left: 20px;
            li {
              color: #fff;
              margin-left: 10px;
              font-size: 14px;
            }
          }
        }
        .image-container {
          img {
            height: 40px;
            width: 40px;
            border-radius: 50px;
            margin-right: 10px;
          
          }
        }
      }
    }
  }
  .testimonial-detail {
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 40px 80px;
    align-items: center;
    display: flex;
    .testimonial-content {
      text-align: center;
      h2 {
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 20px;
      }
      h6 {
        font-size: 18px;
      }
      ul {
        li {
          list-style-type: none;
        }
      }
      img {
        height: 50px;
        width: 50px;
        border-radius: 50px;
      }
    }
  }
}

.scrolling-testimonials.paused {
  animation-play-state: paused;
}

.testimonial-bubble:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.heading {
  @include breakpoint(md) {
    font-size: $f32 !important;
  }
}
.profile {
  height: 40px;
  width: 80px;
  border-radius: 50px;
  background-color: aqua;
}

.slick-slider {
  margin: 0 0px 20px 20px;
  .slick-prev {
    z-index: 20;
    left: 20px;
  }
  .slick-next {
    z-index: 20;
    right: 20px;
  }
}
.slick-dots li button {
  display: none;
  // background-color: #262628;
}
.slick-dots {
    //   display: none;
    // width: max-content;
    // width: 20%;
    // justify-content: center ;
    // background-color: #f5f5f5;
    // z-index: 20;
    // bottom: 30px;
    // border-radius: 350%;
    }
@keyframes scrollTestimonials {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}
